/* Переменные цветов */
:root {
  --primary: #3498db;
  --secondary: #2c3e50;
  --accent: #e74c3c;
  --light: #ecf0f1;
  --dark: #2c3e50;
}

/* Основные стили */
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--dark);
}

h1, h2, h3, h4, h5, .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}

/* Герой-секция */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/001.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

/* Кнопка аренды */
.btn-rent {
  background-color: var(--accent);
  color: white;
  border: none;
  transition: all 0.3s;
}

.btn-rent:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Карточки товаров */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Преимущества */
.bg-primary-opacity-10 {
  background-color: rgba(52, 152, 219, 0.1);
}

/* Футер */
footer a {
  text-decoration: none;
  transition: color 0.2s;
}

footer a:hover {
  color: var(--accent) !important;
}


.text-success {
    color: #28a745 !important;
}
.text-danger {
    color: #dc3545 !important;
}


/* Стили для контейнера с изображением */
.default-image-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: #f8f9fa; /* Цвет фона как bg-light */
    overflow: hidden;
}

/* Стили для обертки круглого изображения */
.default-image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для самого круглого изображения */
.default-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
    border-radius: 50%; /* Делаем изображение круглым */
}

/* Стили для обычного изображения товара */
.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.test-container {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 3px;
}